:root{
	--mainColor:#121212;
	--secondaryColor:#121212;

	--borderColor:white;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#121212;
	--previewShadow:#121212;


	--buttonColor:#121212;


}